.btn{
    padding: 10px;

    background-color: rgb(37, 95, 99);

    border-color: cornsilk;
    
    border: none;

    border-radius: 5px;

    color: white;

    font-family:Arial, Helvetica, sans-serif;

    transition: all 0.5s;
    display: flex;
    align-items: center
}

form img {
    display: flex;
    justify-items: start;
    margin: auto;
    margin-bottom: 1rem;
}
.btn:hover {
    background-color: seagreen;

    box-shadow: 10px 30px 30px rgba(0, 0, 0, 0.589);

    transform: scale(1.2);
}

@media screen and (max-width: 766px) {
    .bs-example {
        width: 80%;
    }

    .btn  {
        width: 80%;
            
        margin-top: 2rem;
      
    }

}