a {
    color: inherit;
    width: inherit;
    text-align: inherit;
}


table { 
    width: 80%;
    margin: auto;
    margin-top: 8rem;
}

thead {
    background-color: rgb(184, 184, 184);
    color: white;
    font-weight: bold;
}
td, tr{
    border: 1px solid black;
    padding: 15px;
}


@media screen and (max-width: 766px) {
    table {
        width: auto;
    }
}